{% extends "base.html" %}
{% block page_title %} {{ card.card_title }} {% endblock %}
{% block content %}
<div class="form-container">
    <h2>Add New Post</h2>
    <form action="/addpost/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.card_title.label_tag }}
            {{ form.card_title }}
        </div>
        <div class="form-group">
            {{ form.card_description.label_tag }}
            {{ form.card_description }}
        </div>
        <div class="form-group">
            {{ form.img_url.label_tag }}
            {{ form.img_url }}
        </div>
        <button type="submit" class="btn-submit">Submit</button>
    </form>
</div>
{% endblock %}
