{% extends "base.html" %}
{% block page_title %} {{ card.card_title }} {% endblock %}
{% block content %}
<header>
  <nav>
      <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'card_page' %}">All Posts</a></li>
          <li><a href="{% url 'addpost' %}">add post</a></li>
      </ul>
  </nav>
</header>
  <center>
    <div class="container">
        <div class="content">
            <h1 class="title">{{ card.card_title }}</h1>
            <img src="{{ card.img_url.url }}" class="image" alt="Blog Image"><br></br>
            <p class="description">{{ card.card_description }}</p>
            <p class="description">{{ card.created_at }}</p>
            <p class="description">{{ card.event_time }}</p>

        </div>
    </div>

  </center>
  <center>
    <footer>
        <p>&copy; 2024 Gokulakannan M. All rights reserved.</p>
    </footer>
    </center>
{% endblock %}

