{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Header Section -->
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'card_page' %}">All Posts</a></li>
            <li><a href="{% url 'addpost' %}">Add Post</a></li>
            <li><a href="{%url 'comment-page'%}">Add comments</a></li>
        </ul>
    </nav>
</header>

<!-- Main Content Section -->
<center><h1>Welcome to My Portfolio</h1></center>

<div class="container">
    <div class="introduction">
        <p>
            Hello! I am Gokulakannan M, a 22-year-old Software Engineer from Dharmapuri. 
            I graduated with a B.Tech in Information Technology, and I am currently working at Changepond. 
            I have a strong passion for technology and enjoy developing innovative solutions that make a difference. 
            Explore my work and feel free to get in touch!
        </p>
    </div>

    <div class="photo">
        <img src="{% static 'myphoto.jpg' %}" alt="My Photo">
    </div>
</div>

<!-- Card Section -->
 <h2 class="latestpost">Latest post </h2>
<div class="card-container">
    {% for card in cards %}
    <div class="card">
        <div class="card-title">{{ card.card_title }}</div>
        <img src="{{ card.img_url.url }}" alt="Image {{ card.id }}">
        <div class="card-description">{{ card.card_description }}</div>
        <a href="{% url 'post_detail' card.slug %}">More...</a>
    </div>
    {% endfor %}
</div>
<!-- <a href="{% url 'card_page' %}">All Posts...</a> -->

<!-- Footer Section -->
 <center>
<footer>
    <p>&copy; 2024 Gokulakannan M. All rights reserved.</p>
</footer>
</center>

{% endblock %}
