{% extends 'base.html' %}
{% block content %}
{% load static %}

<center> <h1>Welcome to My Portfolio</h1>  </center>
    <a href="{% url 'contact_page' %}" class="contact-button">Contact</a>
    <div class="container">
      
        <div class="introduction">
            <p>
                Hello! I am Gokulakannan M, a 22-year-old Software Engineer from Dharmapuri. 
                I graduated with a B.Tech in Information Technology, and I am currently working at Changepond. 
                I have a strong passion for technology and enjoy developing innovative solutions that make a difference. 
                Explore my work and feel free to get in touch!
            </p>
        </div>

        <div class="photo">
            <img src="{% static 'my photo.jpg' %}" >
        </div>
    </div>
 
    <div class="card-container">
        <div class="card">
            <a href="{% url 'post_detail' 1 %}">
                <img src='https://img.freepik.com/free-photo/sports-car-driving-asphalt-road-night-generative-ai_188544-8052.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1723939200&semt=ais_hybrid' alt="New Post 1">
                <p>New Post - 1</p>
            </a>
        </div>
        <div class="card">
            <a href="{% url 'post_detail' 2 %}">
                <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEzqyX4c8UI_PaZRCJ6GmaGRnQ6zA2HakD0w&s' alt="New Post 2">
                <p>New Post - 2</p>
            </a>
        </div>
        <div class="card">
            <a href="{% url 'post_detail' 3 %}">
                <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTicraEFPD1qQB1uCGZ36dlM3LIZ7_CQhfrpw&s' alt="New Post 3">
                <p>New Post - 3</p>
            </a>
        </div>
    </div>
    <a href="{% url 'card_page' %}">All Post...</a>

{% endblock %}
